<div class="main w-full">
    <div class="header ml-10 text-7xl text-light-grey mt-10 w-1/2">
        <h1><span class="text-4xl">BEATS</span> <br> SOLO <span class="text-black"><pre>3</pre></span></h1>
    </div>
    
    <div class="main-container w-full  flex justify-end">
    
    
            <div class="list text-light-grey text-3xl pr-28 ">
                <ul>
                    <li class="p-4">UP TO 40 HOURS OF LISTENING TIME</li>
                    <li class="p-4">TAKE CALLS AND TAKE CONTROL</li>
                    <li class="p-4">SUPPORTS SPATIAL AUDIO*</li>
                    <li class="p-4">COMPATIBLE WITH APPLE & ANDROID</li>
                    <li></li>
                    <li></li>
                    <br>
                    <li  class="p-4 text-black font-bold">$ 199.5</li>
                </ul>
            </div>
    
            <div class="image-container pr-28 drop-shadow-lg bg-transparent">
                <img class="rotate-15 bg-transparent"
                src="assets/beats2.png" alt="solo" width="490" height="490"/>
            </div>
    
    </div>    

    <div class="text ml-4 mr-4 text-center mt-20 text-4xl text-light-grey font-bold">
        <p>Beats Solo3 Wireless on-ear headphones immerse you in rich, award-winning sound, everywhere you want to go.</p>
    </div>

</div>