<div class="main w-full mt-10 " id="about">

    <div class="header ml-4 md:ml-10 text-4xl md:text-7xl text-light-grey w-1/2">
        <h1><span class="text-lg md:text-4xl">BEATS</span> <br> SOLO <span class="text-black"><pre>3</pre></span></h1>
    </div>
    
    <div class="main-container w-full  md:flex justify-end">
    
    
            <div class="list text-center md:text-left text-light-grey text-lg md:text-xl lg:text-3xl md:ml-10 md:pr-28 ml-3">
                <ul class="">
                    <li class="p-4">UP TO 40 HOURS OF LISTENING TIME</li>
                    <li class="p-4">TAKE CALLS AND TAKE CONTROL</li>
                    <li class="p-4">SUPPORTS SPATIAL AUDIO*</li>
                    <li class="p-4">COMPATIBLE WITH APPLE & ANDROID</li>
                    <li></li>
                    <li></li>
                    <br>
                    <li  class="p-4 text-black font-bold">$ 199.5</li>
                </ul>
            </div>
    
            <div class=" w-imagetwo h-imagetwo ml-24
            md:w-imagetwo-m md:h-imagetwo-m lg:w-imagetwo-xl lg:h-imagetwo-xl 
            lg:pr-28 drop-shadow-lg bg-transparent">
                <img class="rotate-15 bg-transparent"
                src="assets/beats2.png" alt="solo"/>
            </div>
    
    </div>    

    <div class="text ml-4 mr-4 text-center mt-20 text-2xl md:text-4xl text-light-grey font-bold">
        <p>Beats Solo3 Wireless on-ear headphones immerse you in rich, award-winning sound, everywhere you want to go.</p>
    </div>

</div>