<div class="main bg-bg-final pl-10 mt-28 w-full pb-20">

<div class="main-containerml-10 flex justify-between bg-transparent">
       
        <div class="things text-white text-3xl bg-transparent w-1/2">
            <h1 class="text-4xl text-white pt-28 pb-5 bg-bg-final w-1/2">WHAT'S IN THE BOX ?</h1>
            <ul class="bg-transparent">
                <li class="py-5 bg-transparent">Beats Solo3 Wireless headphones</li>
                <li class="py-5 bg-transparent">Carrying Case</li>
                <li class="py-5 bg-transparent">Universal USB charging cable</li>
                <li class="py-5 bg-transparent">Warranty card</li>
            </ul>
        </div>
    
        <div class="image bg-transparent pt-10 pr-9">
            <img class="bg-transparent" src="assets/box.png" alt="image with box" width="547px" height="503px">
        </div>

</div>

</div>