<div class="main bg-bg-final pl-10 mt-10 md:mt-28 w-full pb-20" id="us">

<div class="main-containerml-10 md:flex justify-between bg-transparent">
       
        <div class=" things text-center md:text-left text-white 
        text-lg md:text-2xl bg-transparent md:w-1/2">
            <h1 class="text-xl md:text-3xl text-white pt-12 md:pt-28 pb-5 bg-bg-final md:w-1/2">WHAT'S IN THE BOX ?</h1>
            <ul class="bg-transparent">
                <li class="py-5 bg-transparent">Beats Solo3 Wireless headphones</li>
                <li class="py-5 bg-transparent">Carrying Case</li>
                <li class="py-5 bg-transparent">Universal USB charging cable</li>
                <li class="py-5 bg-transparent">Warranty card</li>
            </ul>
        </div>
    
        <div class="image bg-transparent pt-10 pr-9">
            <img class="bg-transparent" src="assets/box.png" alt="image with box" width="547px" height="503px">
        </div>

</div>

</div>