<div class="main-container flex justify-around w-full mt-20" id="home">

    <!-- <div class="shape rounded-superlarge relative mt-80 pr-20 ml-big-shape
    w-shape-big h-shape-big bg-shape-grey rotate-49"></div> -->

    <div class="content-container flex justify-around bg-transparent">
        <div class="image bg-transparent md:pr-96  lg:hover:scale-125 ">
            <img class="w-image h-image rotate-15 bg-transparent 
            md:w-image-m md:h-image-m lg:w-image-xl lg:h-image-xl"
            src="assets/beats.png" alt="Logo"/>
        </div>

        <div class="main-line text-white absolute bg-transparent ">
            <h1 class="text-8xl items-center sm:items-center md:text-9xl lg:text-10xl 
            font-bold bg-transparent pt-28 md:pl-96 md:pt-48">Rede<span class="text-black bg-transparent">fined</span><br>Bass</h1>
        </div>

    </div>

</div>
